[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.2"
kubernetes = "==35.0.0"
flask-cors = "==6.0.2"
python-dotenv = "==1.2.1"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
