FRONTEND_BASE_URL=http://localhost:3000
API_K8S_BASE_URL=http://localhost:3476
DATABASE_URL=postgresql://<account>:<password>@<ip>:<port>/<db_name>
SECRET_KEY=super-long-random-string
JWT_SECRET_KEY=another-super-long-random-string
